* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

body {
  margin: 0;
}

.header {
  background-color: burlywood;
  text-align: center;
  padding: 20px;
}

.topnav {
  background-color: cadetblue;
  padding: 20px;
  text-align: center;
}

.topnav a {
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 10px;
  display: flex;
}

.cont-child-img {
  flex: 1;
  padding: 10px;
  margin-left: 30px;
}

.cont-child1 {
  flex: 1;
  padding: 10px;
}

.cont-child2 {
  flex: 1;
  padding: 10px;
}

.cont-child3 {
  flex: 1;
  padding: 10px;
}

.cont-4 {
  padding: 20px;
  margin: 20px;
}
